<div class="jumbotron text-center">
  <div class="overlay">
  </div>
  <div class="background-image">
  </div>
  <div class="caption">
    <h1>Mongo Scraper</h1>
    <p>PromotionLA Blog Scraping</p>
  </div>
</div>
<div class="row popupNote">
  <div class="col-md-4 text-center margin-auto-custome">
    <form>
      <h3>Article Id: <span name="articleId" class="articleId"></span></h3>
      <div class="preNotes col-md-12"></div>
      <textarea name="noteText" placeholder="Write Some Notes Here..." class="noteText"></textarea>
      <button type="button" class="btn btn-primary saveNote">Save Note</button>
      <button type="button" class="btn btn-danger closeNote">Close</button>

    </form>
  </div>
</div>
<div class="container-fluid article-container">
  {{#each articles}}
  {{#if saved}}
  <div data-_id="{{id}}" class="card">
    <div class="card-header">
      <h3>
        <a class="article-link" target="_blank" rel="noopener noreferrer" href="{{link}}">{{title}}</a>
        <a class="btn btn-danger delete">Delete From Saved</a>
        <a class="btn btn-info notes">Article Notes</a>
      </h3>
    </div>
    <div class="card-body">
      {{author}}
    </div>
  </div>
  {{else}}

  {{/if}}
  {{/each}}
</div>